@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;700;800&display=swap');

@layer utilities {
	.particle {
	  @apply absolute w-4 h-4 bg-gradient-to-br from-pink-500 to-blue-500 rounded-full;
	  animation: particle-float 3s infinite ease-in-out;
	}
  
	.particle:nth-child(1) { top: 20%; left: 30%; animation-delay: 0s; }
	.particle:nth-child(2) { top: 50%; left: 60%; animation-delay: 0.2s; }
	.particle:nth-child(3) { top: 70%; left: 40%; animation-delay: 0.4s; }
	.particle:nth-child(4) { top: 10%; left: 70%; animation-delay: 0.6s; }
	.particle:nth-child(5) { top: 30%; left: 20%; animation-delay: 0.8s; }
	.particle:nth-child(6) { top: 80%; left: 50%; animation-delay: 1s; }
	.particle:nth-child(7) { top: 60%; left: 10%; animation-delay: 1.2s; }
	/* Add more particles here for randomness */
  }
  

:root {
	--background: #ffffff;
	--foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	color: var(--foreground);
	background: var(--background);
	/* font-family: "Plus Jakarta Sans", serif; */
	font-optical-sizing: auto;
	font-family: "Turret Road", sans-serif;
	/* font-weight: 500; */
	font-style: normal;
}

@keyframes colorChange {
	0% { color: #4fd1c5; } /* text-teal-300 */
	33% { color: #d6bcfa; } /* text-purple-300 */
	66% { color: #faf089; } /* text-yellow-300 */
	100% { color: #4fd1c5; } /* text-teal-300 */
}

.animate-color-change {
	animation: colorChange 3s ease-in-out infinite;
}

.box-container {
	@apply w-full h-auto max-w-[1400px] mx-auto;
}

.boxed-container {
	@apply w-full h-auto max-w-[900px] mx-auto px-6;
}

.home-page {
	height: 100%;
	min-height: 100vh;
	background-color: rgb(1, 8, 17) !important;
}